h2 {
    font-size: 30px;
    color: #af1313;
    font-family: 'Calibri', 'Gill Sans MT', Gill sans-serif, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    margin-left: 25px;
}


body {
       background-color: black;
       background-image: url(../img/nami.png);
       background-attachment: fixed;
}

h1 {
      color: #af1313;
      font-size: 50px;
      margin-left: 800px;
      text-shadow: 3px 2px #282f3f;

      font-style: italic;
}

h2 {
    color: #af1313;
}

div {
      background: black;
      border-style: ridge;
      border-color: #282f3f;
      
}    


.link1 {
    font-size: 30px;
    margin-left: 250px;
    text-shadow: 3px 2px #282f3f;

}
.link2 {
    font-size: 30px;
    margin-left: 500px;
    text-shadow: 3px 2px #282f3f;
}
.link3 {
    font-size: 30px;
    margin-left: 550px;
    text-shadow: 3px 2px #282f3f;
}

.link4 {
    font-size: 30px;
    margin-left: 550px;
    text-shadow: 3px 2px #282f3f;
}

.pic1 {
    margin-left: 40px;
    margin-top: 20px;
    border-width: 5px;
    border-color: #af1313;
    border-style: solid;
}

.pic2 {
    border-width: 5px;
    border-color: #af1313;
    border-style: solid;
}

.pic3 {
    border-width: 5px;
    border-color: #af1313;
    border-style: solid;


}

.box {
    background-color: #a7a3b4;
    margin-top: 10px;
    width: 1000px;
    padding-bottom: 50px;
    padding-left: 1px;
    border-width: 5px;
    border-color: #af1313;
    border-style: solid;
    max-width: fit-content;
    margin: auto;
    border-radius: 25px;
    
}
a, .link1, .link2, .link3, .link4, .appt2, :link {
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
}
a, .link1, .link2,  :link {
    color: aliceblue;
    

}

a, :visited {
    color: #af1313;
}

a,  :hover {
    color: #282f3f;

}

a, :active {
    color: #a7a3b4;
}

.uchihalogo{
    background-image: url(../img/logo.png);
    margin-left: 25px;
    border-width: 5px;
    border-color: #af1313;
    border-style: solid;
    border-radius: 25px;
}

.appointments {
    font-size: 50px;
    color: #af1313;
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 800;

}

.explore {
    
}

.box2 {
    background-color: #a7a3b4;
    margin-top: 10px;
    width: 200px;
    padding-bottom: 50px;
    border-width: 5px;
    border-color: #af1313;
    border-style: solid;
    font-size: 25px;
    line-height: 75px;
    border-radius: 25px;
    


}

.box3 {
    margin-top: 10px;
    width: 770px;
    height: 590px;
    padding-bottom: 50px;
    border-width: 5px;
    border-color: #af1313;
    border-style: solid;
    background-image: url(../img/KonohaMap.png);
    margin-right: 500px;
    float: right;
    border-radius: 25px;
    


}

.appt2 {
    font-size: 30px;
    margin-left: 250px;
}

.map {
    margin-left: 500px;
    margin-bottom: 300px;
}

.button {
    background-color: #a7a3b4;
    border: solid;
    color: #af1313;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow 12px; 
    border-radius: 25px;

}



